# PostgreSQL
# export TEST_POSTGRES_URI="postgres://prisma:prisma@localhost:5432/tests"
# export TEST_POSTGRES_URI_MIGRATE="postgres://prisma:prisma@localhost:5432/tests-migrate"
# export TEST_POSTGRES_SHADOWDB_URI_MIGRATE="postgres://prisma:prisma@localhost:5432/tests-migrate-shadowdb"

if [ -f .envrc.local ]; then
    watch_file .envrc.local
    source .envrc.local
fi
