no-frozen-lockfile=true
shamefully-hoist=true
no-optional=false
skip-optional=true
auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true
link-workspace-packages=true
git-checks=true

provenance=true
registry=https://registry.npmjs.org/

# hoist-workspace-packages=true
# ignore-workspace-root-check=true
