strict-peer-dependencies=false
no-frozen-lockfile=true
strict-ssl=false
no-optional=false
skip-optional=false
auto-install-peers=true

registry=https://registry.npmjs.org/
#registry=http://localhost:4873/

#git-checks=false

